.updates-section {
  margin-top: 5em;
}

.updates-wrapper {
  text-align: center;
}

.updates {
  margin-top: 1.5em;
  margin-bottom: 4.8em;
}

.update-item {
  width: 75%;
  padding: 0.75em 1.67em;
  margin: 0 auto;
}

.update-item:nth-child(odd) {
  background: #f7f7f7;
}

.update-item:nth-child(even) {
  background: #ffffff;
}

.update-time {
  font-family: Nunito Sans;
  font-weight: bold;
  font-size: 0.67em;
  line-height: 0.75rem;
  color: #9e9e9e;
}

.update-text {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1rem;
  color: #666666;
  margin-top: 0.5em;
}

.text-link{
  text-decoration: none;
  color:#f55254;
}

@media screen and (max-width: 600px) {
  .heading-background-box {
    left: 27%;
  }
  .main-page-heading {
    font-size: 1.5em;
    line-height: 55px;
    letter-spacing: 0em;
  }
  .heading-information {
    font-size: 0.64em;
  }
  .update-text {
    font-size: 0.64em;
  }
  .update-time {
    font-size: 0.64em;
  }
  .why-img-text {
    font-size: 0.64em;
  }
}


.site-container {
  max-width: 1000px;
  margin: 0 auto;
}

.site-container-about {
  max-width: 800px;
  margin: 0 auto;
}

.main-page-heading {
  position: relative;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.04em;
  color: #444444;
  user-select: none;
}

.heading-background-box {
  background: #f55254;
  position: absolute;
  width: 85%;
  height: 65%;
  left: 30%;
  bottom: 35%;
  z-index: 1;
}

.heading-text {
  position: relative;
  z-index: 2;
}

.heading-information {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.1rem;
  color: #878787;
  margin-top: 0.7em;
  margin-bottom: 1.25em;
}

.site-cta-button {
  font-family: Nunito Sans;
  font-weight: normal;
  background: #333333;
  color: #ffffff;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 0.67rem;
  user-select: none;
  border-radius: 2px;
}

.site-cta-button:hover {
  transition: 0.25s;
}

.site-cta-button:active {
  border: none;
}


/*  TimeLine */

.middle-line {
  display: flex;
  width: 100%;
  height: 4px;
}

.middle-line .compeleted {
  width: 100%;
  background: #F5F5F5;
}

.middle-line .left {
  background: #dddddd;
  flex-grow: 1;
}

.upper-events {
  display: grid;
  grid-template-columns: 1.8fr 1.8fr 1.8fr;
}

.upper-event {
  display: flex;
  align-items: center;
}

.lower-events {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  margin-left: 4em;
}

.lower-event {
  display: flex;
  align-items: center;
}

.lower-event[event='1'] {
  display: flex;
  justify-content: center;
}

.upper-event[event='2'] {
  display: flex;
  justify-content: center;
}

.lower-event[event='3'] {
  display: flex;
  justify-content: flex-end;
}

.upper-event[event='4'] {
  display: flex;
  justify-content: center;
}

.lower-event[event='5'] {
  display: flex;
  justify-content: flex-end;
}

.event-illustration {
  align-self: flex-end;
  position: relative;
}

.event-illustration img {
  position: relative;
  left: calc(-50% + 4px);
  width: 2.875em;
  height: 4em;
}

.event-description {
  margin-left: -0.75em; /*According to the size of icons provided*/
}

.event-heading {
  font-family: Nunito Sans;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #000000;
}

.event-date {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #000000;
}

.timeline-mobile{
    display: none;
    text-align: center;
    margin: 0 auto;
}

.event-heading-mobile {
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #000000;
    text-align: center;
}

.event-date-mobile {
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #000000;
    text-align: center;
}

.event-connect {
    height: 80px;
    width:5px;
    background-color: #DDDDDD;
    display:block;
    margin: 0 auto;

}
.event-ongoing {
    height:80px;
    width:5px;
    background: rgb(248,209,108);
    background: linear-gradient(180deg, rgba(248,209,108,1) 0%, rgba(248,209,108,1) 60%, rgba(221,221,221,1) 60%, rgba(221,221,221,1) 100%);
    display:block;
    margin: 0 auto;
}
.event-complete {
    height: 80px;
    width:5px;
    background-color: #F55254;
    display:block;
    margin: 0 auto;
}

@media screen and (max-width: 1221px) {
    .timeline-desktop{
        display: none;
}
    .timeline-mobile{
        display:block;
    }
    .timeline-heading {
        margin-bottom: 1em;
    }
}


/*  TimeLine Ends */
